<div class="col-md-12">
  <div class="panel panel-success">
    <div class="panel-heading">Your ToDo list</div>

    <div class="panel-body">
      <table class="table table-responsive table-bordered">
        <thead>
        <tr>
          <th>Check</th>
          <th>ToDo</th>
          <th>When</th>
          <th>Priority</th>
          <th>Status</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let todo of todos">
          <td>
            <input class="form-control input-sm" type="checkbox" value="1" />
          </td>
          <td>{{ todo.todo }}</td>
          <td>{{ todo.date_and_time }}</td>
          <td>{{ todo.priority }}</td>
          <td>{{ todo.status }}</td>
          <td><span class="btn btn-danger btn-sm glyphicon glyphicon-trash"></span> </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
